h1,h2,ul,p{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container1{
  background-image: url(image/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}


#menuBtn.-w-close{
  background:transparent;
}

#menuBtn.-w-close::before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#menuBtn.-w-close::after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#sec01{
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

h2{
  font-weight: normal;
  font-size: 20px;
}

p{
  font-weight: lighter;
  font-size: 14px;
  text-align: left;
}

.container2 {
  display: flex;
}

.imagemessage{
  height: 200px;
}

.item {
  width: 300px; 
  text-align: center;
  margin-top: 100px;
}

.item:nth-child(odd) {
  flex-direction: row;
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}



@media only screen and (min-width: 800px){
  
a#menu{
      display:none;
  }   

  #mainnav{
      position:fixed;
      top: 0;
      width:100%;
      z-index:500;
  }

  #mainnav ul{
      text-align: right;
      padding-right: 30px;
  }

  #mainnav li{
      display: inline-block;
      padding: 45px 10px 20px;
      font-size: 14px;
      font-weight: 300;
  }
  
#mainnav a{
      text-decoration: none;
      color: #000;
  }
  
  #mainnav.changeNav{
      background: rgba(255,255,255,.9);
      border-bottom: 1px solid #d1d1d1;
  }
  
  #mainnav.changeNav li{
      padding: 20px 10px;
  }
}

@media only screen and (max-width: 799px){



a#menu{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px;
}

#menuBtn{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  margin: -1px 0 0 -7px;
  background: #fff;
  transition: .2s;
}

#menuBtn::before, #menuBtn::after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 2px;
  background: #fff;
  transition: .3s;
}

#menuBtn:before{
  margin-top: -7px;
}

#menuBtn:after{
  margin-top: 5px;
}

a#menu .close{
  background: transparent;
}

a#menu .close:before, a#menu .close:after{
  margin-top: 0;
}

a#menu .close:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a#menu .close:after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.panel{
  width: 100%;
  display: none;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  z-index: 100;
}

  .panel.dblock{
      display: block!important;
  }

#mainnav{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  z-index:500;
}

#mainnav ul{
  border-bottom: 1px solid #ccc;
  background: #fff;
  text-align: left;
}

#mainnav li a{
  position: relative;
  display:block;
  padding:15px 25px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-weight: 400;
}

#mainnav li a:before{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 6px;
  height: 6px;
  margin: -4px 0 0 0;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
}